@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png") ,  #FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    padding-top: 50px;
}

.open-sans-fonts {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.color {
    color: #FD6E0A;
}

.navbar {
    width: 71%;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.nav-link {
    align-items: center;
    gap: 51px;
}

.nav-items {
    list-style-type: none;
}

.logo h2 {
    font-weight: 900;
    font-size: 45px;
    color: #181818;
}

.nav-links {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 19px 36px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    cursor: pointer;
}

.hero-section {
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0px 230px;
}

.hero-section .hero-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.hero-section .hero-content h1 {
    font-size: 85px;
    font-weight: 900;
    color: #181818;
    margin-bottom: 20px;
}

.hero-section .hero-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero-section .hero-image img {
    max-width: 584px;
    vertical-align: middle;
}

.hero-content {
    max-width: 585px;
}

.hero-btn {
    gap: 30px;
}

.btn-2 {
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

#about {
    padding-top: 130px;
}

.about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background-color: #FFF8F3;
}

.section-heading {
    max-width: 827px;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #474747;
}